<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<main>
    <div class="jumbotron">

        <h2>Goods Table From mysql database username:root and no password</h2>

        <h3>Insert some data inside payket database -> goods</h3>

    </div>
</main>

<!-- views/pages/index.ejs -->

<table border="2px">
    <thead>
    <tr>
        <th>name</th>
        <th>color</th>
        <th>pic</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody id="tablebody">

    <% result.forEach(function(doc) { %>

        <tr>
                <td> <%=doc.name%> </td>
                <td><%=doc.color%> </td>
                <td><%=doc.pic%> </td>
                <td> <%=doc.price%> </td>
        </tr>

    <% }); %>



    </tbody>
</table>


<footer>
    <br/>

    <h2> For api <a href="/api">here</a> </h2>
</footer>

</body>
</html>
